@model MoneyRecordViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="well" style="margin-top:60px">

    @*AJAX還沒完成*@
    @*@using (Ajax.BeginForm("index",new { Controller ="Home"}, new AjaxOptions() { UpdateTargetId = "ajax" }, new { @class = "form-horizontal" }))*@
    @using (Html.BeginForm("add", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_MoneyForm")
    }
</div>
@Html.Action("MoneyRecordList")

@section pagejs
{
    <script>
        $.validator.addMethod('notgreaterthantoday', function (value, element, param) {
            if (value) {
                var d = Date.parse(value);
                if (d > new Date) {
                    return false;
                }
            }
            return true;
        });
        $.validator.unobtrusive.adapters.addBool('notgreaterthantoday');
    </script>
    @Html.Partial("_sweetalert2")

}
